.button {
  margin: 0 auto;
  padding: 7px 44px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-family--second;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-apple;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-limeade;
  }

  &:active {
    color: $color-white-opacity;

    background-color: $color-limeade;
  }
}
