.button {
  padding: 7px 44px;
  margin: 0 auto;
  border: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-family--second;
  font-size: 14px;
  line-height: 18px;
  background-color: $color-apple;
  color: $color-white;
}
