.button {
  margin: 0 auto;
  padding: 7px 44px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-family--second;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-apple;
  border: none;

  &:hover,
  &:focus {
    background-color: $color-limeade;
  }

  &:active {
    color: rgba($color-white, 0.7);

    background-color: $color-limeade;
  }

  &--grey {
    color: $color-charcoal;

    background-color: $color-white-smoke;
  }

  &--grey:hover,
  &--grey:focus {
    color: $color-charcoal;

    background-color: $color-whisper-button;
  }

  &--grey:active {
    color: rgba($color-charcoal, 0.7);
  }
}
