.catalog__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-family--second;
  color: $color-black;

  border-top: 1px solid $color-gainsboro;
  border-bottom: 1px solid $color-gainsboro;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  display: grid;

  border-bottom: 1px solid $color-gainsboro;

  grid-template: "a c"
    "b b";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}


.catalog__image-link {
  grid-area: a;
}

.catalog__link-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family--second;
  color: $color-nero;
  text-transform: uppercase;
}

.catalog__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family--main;
  color: $color-charcoal;

  grid-area: c;
}

.catalog__text-price,
.catalog__text-taste,
.catalog__text-weight {
  display: flex;
  justify-content: space-between;
}

.catalog__button {
  width: 100%;
  margin-bottom: 25px;
  grid-area: b;
}
