.catalog__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-family--second;
  color: $color-black;

  border-top: 1px solid $color-gainsboro;
  border-bottom: 1px solid $color-gainsboro;

  @media (min-width: $tablet) {
    padding-top: 0;

    font-size: 60px;
    line-height: 60px;

    border: none;
  }
}

.catalog__list {
  @include list-reset;

  @media (min-width: $tablet) {
    display: grid;
    justify-content: space-between;

    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: repeat(2, 324px);
  }
}

.catalog__item {
  display: grid;

  border-bottom: 1px solid $color-gainsboro;

  grid-template: "a c"
    "b b";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;

  @media (min-width: $tablet) {
    grid-template: "a"
      "c"
      "b";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    border: none;
  }
}

.catalog__image-link {
  grid-area: a;
}

.catalog__link-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family--second;
  color: $color-nero;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 21px;
  }
}

.catalog__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family--main;
  color: $color-charcoal;

  grid-area: c;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.catalog__text-price,
.catalog__text-taste,
.catalog__text-weight {
  display: flex;
  justify-content: space-between;
}

.catalog__button {
  width: 100%;
  margin-bottom: 25px;

  grid-area: b;
}
