.contacts {
  position: relative;

  @media (min-width: $desktop) {
    margin-top: 82px;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 19px;
  margin-top: 32px;

  background-color: $color-white;

  &--grey {
    background-color: $color-white-smoke;
  }

  @media (min-width: $tablet) {
    margin-top: 72px;
    align-items: flex-start;
    padding: 65px 72px 58px 71px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;

    width: 100%;
    max-width: 570px;
    padding: 62px 82px 51px 76px;

    background: $color-white;
    transform: translateY(50%);
  }
}

.contacts__title {
  max-width: 140px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-family--second;
  color: $color-black-second;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 21px;
  }
}

.contacts__text {
  max-width: 140px;

  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family--main;
  text-align: left;
  color: $color-charcoal;

  @media (min-width: $tablet) {
    max-width: 160px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &--city {
      display: block;
      margin-top: 19px;
    }
  }

  @media (min-width: $tablet) {
    text-align: left;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;

  background-image: url("../img/location.jpg");

  @media (min-width: $tablet) {
    height: 400px;

    background-image: url("../img/location-tablet.jpg");
  }

  @media (min-width: $desktop) {
    position: relative;

    height: 400px;

    background-image: url("../img/location-desktop.jpg");
  }
}
