.contacts__wrapper {
  display: flex;
  justify-content: center;
  padding: 28px 19px 22px 19px;

  background-color: $color-white;

  &--grey {
    background-color: $color-white-smoke;
  }
}

.contacts__title {
  max-width: 140px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-family--second;
  color: $color-black-second;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 21px;
  }
}

.contacts__text {
  max-width: 140px;

  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family--main;
  color: $color-charcoal;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__map img {
  width: 100%;
  min-height: 362px;
  margin: 0;
  padding: 0;
}
