
.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-family--second;
  color: $color-black-second;
  text-transform: uppercase;
}
.contacts__text {
  font-style: normal ;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family--main;
  color: $color-charcoal;
}
