.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px 22px 19px;
}

.copyright__text {
  line-height: 18px;
  font-family: $font-family--main;
  color: $color-charcoal;
}
