.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.copyright__text {
  margin: 0;
  padding: 0;

  line-height: 18px;
  font-family: $font-family--main;
  color: $color-charcoal;

  @media (min-width: $tablet) {
    padding-right: 22px;
  }
}
