.example {
  background-color: $color-whisper;
}

.example__title {
  padding-top: 27px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-family--second;
  color: $color-black;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;

  font-family: $font-family--main;
  color: $color-charcoal;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__list {
  display: flex;
  justify-content: center;

  @include list-reset;
}

.example__item {
  position: relative;

  width: 124px;
  padding-top: 15px;
  padding-bottom: 16px;

  border: 1px solid $color-very-light-grey;
  border-radius: 3px;
  margin-right: 31px;

  &:last-child {
    margin-right: 0;
  }
}

.example__value {
  display: flex;
  justify-content: center;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family--second;
  color: $color-black;
  text-transform: uppercase;

  dd {
    margin-left: 3px;
  }

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__attribute {
  position: absolute;
  right: 0;
  bottom: -14px;
  left: 0;

  width: 87px;
  margin: 0 auto;

  font-size: 12px;
  line-height: 12px;
  font-family: $font-family--main;
  text-align: center;

  background-color: $color-whisper;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
  }
}


.example__total {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-family--second;
  text-transform: uppercase;

  dd {
    margin-left: 4px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}
