.page-footer {
  background-color: $color-basic-grey;
}
.page-footer__logo {
}
.page-footer__social {
}
.social {
}
.social__item {
}
.social__link {
}
.page-footer__copyright {
}
.copyright {
}
.copyright__text {
  font-family: Arial;
line-height: 18px;
color: $color-special-grey-3;
}
