.form__name {
  font-family: $font-family--second;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-charcoal;
}

.form__weight {
  font-family: $font-family--second;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-charcoal;
}

.form__age {
  font-family: $font-family--second;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-charcoal;
}
