.head-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.head-block__wrapper {
  position: relative;

  background-repeat: no-repeat;
  background-size: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 304px;

    background-color: transparentize($color-apple, 0.15);
    background-image: url("../img/background-mobile.png");
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.head-block__title {
  padding-top: 27px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-family--second;
  text-align: center;
  color: $color-white;
}

.head-block__text {
  margin-top: 25px;

  line-height: 14px;
  font-family: $font-family--second;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
}

.head-block__image {
  align-items: center;
  margin: 0 auto;
}
