.instructions {
  padding: 0 20px;
}
.instructions__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-family--second;
}
.instructions__list {
  @include reset-list;
}


.instructions__text {
  font-family: $font-family--main;
}
