.instructions__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 28px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-family--second;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.instructions__list {
  @include list-reset;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.instructions__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  svg {
    width: 60px;
    height: 60px;
  }

  @media (min-width: $tablet) {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 230px;
    min-height: 280px;
    margin-right: 157px;
    margin-bottom: 37px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      font-size: 280px;
      line-height: 280px;
      font-family: $font-family--second;
      color: $color-white-smoke;
    }

    &:nth-child(1) {
      &::after {
        content: "1";
      }
    }

    &:nth-child(2) {
      &::after {
        content: "2";
      }
    }

    &:nth-child(3) {
      &::after {
        content: "3";
      }
    }

    &:nth-child(4) {
      &::after {
        content: "4";
      }
    }

    svg {
      width: 80px;
      height: 80px;
      margin-top: 40px;
    }
  }

  @media (min-width: $desktop) {
    margin-right: 94px;

    &:nth-child(2n) {
      margin-right: 94px;
    }

    &:nth-child(4n) {
      margin: 0;
    }
  }
}


.instructions__text {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;

  font-family: $font-family--main;
  text-align: left;

  @media (min-width: $tablet) {
    margin-top: 31px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.instructions__item--sheet,
.instructions__item--powder,
.instructions__item--cutlery,
.instructions__item--clock {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
  }
}
