

.page-header_nav {

}
.main-nav {


}
.main-nav__list {
  font-family: Oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $color-black;

}
.main-nav__item {
}
