.main-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--closed {
    .main-nav__list {
      display: none;

      @media (min-width: $tablet) {
        display: flex;
      }
    }

    .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 24px;
      right: 19px;

      width: 24px;
      height: 2px;

      background-color: $color-black;
      box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
    }
  }

  &--opened {
    .main-nav__toggle {
      top: 0;
      right: 0;


      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 31px;
        left: 22px;

        width: 24px;
        height: 2px;

        background-color: $color-black;
      }

      &::before {
        box-shadow: none;
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__list {
      display: block;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 65px;

  background-color: #ffffff;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__list {
  text-align: center;

  @include list-reset;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 440px;
  }
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;

  border-top: 1px solid $color-whisper-border;

  @media (min-width: $tablet) {
    padding: 0;

    border: none;
  }
}

.main-nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-family--second;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: $color-apple;
      }
    }
  }

  @media (min-width: $desktop) {
    &--index {
      color: $color-white;
    }

    &--active-index {
      &::after {
        background-color: $color-white;
      }
    }
  }
}
