.page-footer {
  background-color: $color-white-smoke;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 32px;
}
