.present {
  width: 280px;
  height: 289px;
  margin: 0 auto;
  margin-bottom: 35px;

  background-image: url("../img/present-backgound.png");
}

.present__text {
  position: relative;
  padding: 186px 61px 43px 58px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family--main;
  text-align: center;
  color: $color-white;
}

.present__text--icon::before {
  background-image: url("../img/present-box.svg");
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  top: 58px;
}
