.programs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 22px;

  @media (min-width: $desktop) {
    margin-top: 267px;
  }
}

.programs__wrapper {
  display: flex;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__slimming {
  width: 50px;
  height: 53px;

  @media (min-width: $tablet) {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
  }
}

.programs__weight-again {
  min-width: 67px;
  min-height: 50px;

  @media (min-width: $tablet) {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    width: 268px;
    height: 200px;
  }
}

.programs__list {
  @include list-reset;
}

.programs__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;

  background-color: $color-white-smoke;

  @media (min-width: $tablet) {
    padding: 0;
    position: relative;
  }
}


.programs__title {
  margin: 0;
  padding-left: 10px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-family--second;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
    padding-top: 77px;
    padding-left: 53px;
    width: 60%;

    font-size: 36px;
    line-height: 36px;
  }
}


.programs__text {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 23px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family--main;
  color: $color-charcoal;

  border-bottom: 1px solid $color-gainsboro;

  @media (min-width: $tablet) {
    margin-top: 24px;
    padding: 0;
    padding-left: 53px;
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
    width: 60%;

    border: none;
  }
}

.programs__link {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  padding-top: 15px;

  font-size: 16px;
  line-height: 16px;
  font-family: $font-family--second;
  color: $color-black;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    padding-left: 53px;
    margin-top: 48px;
    padding-bottom: 53px;
  }
}

.programs__link:hover {
  .programs__link-icon svg {
    transform: translateX(0);
  }
}


.programs__link-icon {
  position: relative;

  display: flex;
  width: 32px;
  height: 12px;
  margin-left: 10px;
  overflow: hidden;


  svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 32px;
    height: 12px;

    transform: translateX(-10px);

    transition: 0.3s;
  }

  &:active {
    opacity: 0.3;
  }
}
