.programs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 22px;
}

.programs__wrapper {
  display: flex;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__slimming {
  width: 50px;
  height: 53px;

  @media (min-width: $tablet) {
    order: 4;
    width: 200px;
    height: 200px;
  }
}

.programs__weight-again {
  min-width: 67px;
  min-height: 50px;

  @media (min-width: $tablet) {
    order: 4;
    width: 268px;
    height: 200px;
  }
}

.programs__list {
  @include list-reset;
}

.programs__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;

  background-color: $color-white-smoke;

  @media (min-width: $tablet) {
    padding: 0;
  }
}


.programs__title {
  margin: 0;
  padding-left: 91px - 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-family--second;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }
}


.programs__text {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 23px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family--main;
  color: $color-charcoal;

  border-bottom: 1px solid $color-gainsboro;

  @media (min-width: $tablet) {
    order: 1;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }
}

.programs__link {
  position: relative;
  z-index: 2;

  display: flex;
  align-self: flex-start;

  font-size: 16px;
  line-height: 16px;
  font-family: $font-family--second;
  color: $color-black;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -50px;
    z-index: -1;

    width: 37px;
    height: 12px;

    background: url("../img/arrow.svg") no-repeat center;
    transform: translateY(-50%);

    transition: 0.3s;
  }

  @media (min-width: $tablet) {
    order: 3;

    font-size: 20px;
    line-height: 30px;
  }

  &:hover::before {
    right: -75px;
  }

  &:active {
    opacity: 0.3;
  }
}
