.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 37px;

  border-bottom: 1px solid $color-gainsboro;
}

.show-more__link {
  left: 50%;
}

.show-more__title {
  padding-top: 23px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-family--second;
  color: $color-black-second;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  padding-top: 8px;
  padding-bottom: 21px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family--main;
  color: $color-charcoal;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  width: 100%;
  margin-bottom: 5px;
}
