.site-list {
  text-align: center;

  @include list-reset;
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 24px;

  border-top: 1px solid $color-whisper-border;
}

.site-list__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-family--second;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
