.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  margin: -2px;

  border-top: 1px solid $color-gainsboro;
  border-bottom: 1px solid $color-gainsboro;

  @include list-reset;

  :last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    border: none;
    margin-left: 25px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  margin-right: 14px;
  padding-top: 11px;
  padding-bottom: 11px;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: $color-charcoal;

  &:hover,
  &:focus {
    color: $color-apple;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    svg {
      width: 23px;
      height: 16px;
    }

    @media (min-width: $tablet) {
      svg {
        width: 30px;
        height: 22px;
      }
    }
  }

  &--instagram {
    svg {
      width: 16px;
      height: 16px;
    }

    @media (min-width: $tablet) {
      svg {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--facebook {
    svg {
      width: 22px;
      height: 22px;
    }

    @media (min-width: $tablet) {
      svg {
        width: 28px;
        height: 33px;
      }
    }
  }
}
