.page-footer__social {
  @include list-reset;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 52px 97px 0 93px;
}


.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  line-height: 18px;
  font-family: $font-family--main;
}
