.contacts {
}
.contacts__title {
font-family: Oswald;
font-size: 16px;
text-transform: uppercase;
color: $color-tittle-contacts;
}
.contacts__text {
font-family: Arial;
line-height: 20px;
color: $color-special-grey-3;
}
.contacts__map {
}
