.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop) {
    padding-right: 110px;
    padding-left: 110px;
  }
}
/* @include viewport--md {
  padding: 0 30px;
}

@include viewport--sm {
  padding: 0 20px;
}

&--no-padding {
  @include viewport--sm {
    padding: 0;
    }
  }
}
*/
