$color-black: #000000;
$color-tittle-contacts: #111111;
$color-text-black: #222222;
$color-white: #ffffff;
$color-green: #68B738;
$color-green-hover: #5EAA2F;
$color-basic-grey: #f2f2f2;
$color-special-grey-1: #cdcdcd;
$color-special-grey-2: #666666;
$color-special-grey-3: #444444;
$color-background: #eaeaea;
$color-error-red: #FF8282;
