$color-black: #000000;
$color-black-second: #111111;
$color-nero: #222222;
$color-white: #ffffff;
$color-white-smoke: #f2f2f2;
$color-whisper: #eaeaea;
$color-apple: #68B738;
$color-limeade: #5EAA2F;
$color-very-light-grey: #cdcdcd;
$color-dim-gray: #666666;
$color-charcoal: #444444;
$color-light-coral: #FF8282;


$font-family--main:"Arial", sans-serif;
$font-family--second:"Oswald", "Arial", sans-serif; ;
